server:
  port: ${SERVER_PORT}

spring:
  application:
    name: goti-backend
  datasource:
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      idle-timeout: 5000
      max-lifetime: 420000
      connection-timeout: 5000
      validation-timeout: 3000
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
      properties:
        hibernate:
          jdbc.time_zone: UTC
          format_sql: true
          show_sql: true
          dialect: org.hibernate.dialect.PostgreSQLDialect

  config:
    import:
      - optional:file:.env[.properties]

