name: Goti Server CI

on:
  pull_request:
    branches:
      - "develop"
    paths:
      - "**"
      - ".github/workflows/ci.yml"

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:17.6
        env:
          POSTGRES_USER: ${{ secrets.DATASOURCE_USERNAME }}
          POSTGRES_PASSWORD: ${{ secrets.DATASOURCE_PASSWORD }}
          POSTGRES_DB: ${{ vars.DATABASE_NAME || 'goti_local' }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      redis:
        image: redis:latest
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"

      - name: Run Tests
        env:
          SERVER_PORT: ${{ vars.SERVER_PORT }}
          SMS_API_DOMAIN: ${{ vars.SMS_API_DOMAIN }}

          DATASOURCE_URL: ${{ secrets.DATASOURCE_URL }}
          DATASOURCE_USERNAME: ${{ secrets.DATASOURCE_USERNAME }}
          DATASOURCE_PASSWORD: ${{ secrets.DATASOURCE_PASSWORD }}

          REDIS_HOST: localhost:6379
          JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
          JWT_ACCESS_TIME: ${{ secrets.JWT_ACCESS_TIME }}
          JWT_REFRESH_TIME: ${{ secrets.JWT_REFRESH_TIME }}

          SMS_API_KEY: ${{ secrets.SMS_API_KEY }}
          SMS_API_SECRET: ${{ secrets.SMS_API_SECRET }}
          SMS_API_SENDER: ${{ secrets.SMS_API_SENDER }}

          # OAuth 정보
          KAKAO_CLIENT: ${{ secrets.KAKAO_CLIENT }}
          KAKAO_SECRET: ${{ secrets.KAKAO_SECRET }}
          KAKAO_REDIRECT_URI: ${{ secrets.KAKAO_REDIRECT_URI }}

          NAVER_CLIENT: ${{ secrets.NAVER_CLIENT }}
          NAVER_SECRET: ${{ secrets.NAVER_SECRET }}
          NAVER_REDIRECT_URI: ${{ secrets.NAVER_REDIRECT_URI }}

          GOOGLE_CLIENT: ${{ secrets.GOOGLE_CLIENT }}
          GOOGLE_SECRET: ${{ secrets.GOOGLE_SECRET }}
          GOOGLE_REDIRECT_URI: ${{ secrets.GOOGLE_REDIRECT_URI }}

        run: |
          chmod +x ./gradlew
          ./gradlew test
